name: Publish eslint-remote-tester-repositories

on: [workflow_dispatch]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v6

            - uses: ./.github/actions/setup-and-cache

            - name: Install & Build
              run: |
                  pnpm install
                  pnpm build

            - run: pnpm test
              working-directory: ./packages/repositories

            - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

            - run: npm publish --provenance
              working-directory: ./packages/repositories
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
