name: Publish eslint-remote-tester

on:
    workflow_dispatch:
        inputs:
            release-type:
                type: choice
                description: Type of the release
                options:
                    - patch
                    - minor
                    - major

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v6

            - uses: ./.github/actions/setup-and-cache

            - name: Update npm
              run: |
                  npm --version
                  npm install -g npm@latest
                  npm --version

            - name: Install
              run: pnpm install

            - name: Build
              run: pnpm build

            - name: Copy README
              run: cp ./README.md ./packages/eslint-remote-tester/

            - name: Configure github-actions git
              run: |
                  git config --global user.name 'github-actions'
                  git config --global user.email 'github-actions@users.noreply.github.com'

            - name: Bump version
              working-directory: ./packages/eslint-remote-tester
              run: |
                  mkdir .git
                  npm version ${{ github.event.inputs.release-type }}

            - name: Push release tag
              run: git push origin master --follow-tags

            - name: Publish to npm
              run: npm publish
              working-directory: ./packages/eslint-remote-tester
