name: Publish eslint-remote-tester-repositories

on: [workflow_dispatch]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v6

            - uses: ./.github/actions/setup-and-cache

            - name: Update npm
              run: |
                  npm --version
                  npm install -g npm@latest
                  npm --version

            - name: Install & Build
              run: |
                  pnpm install
                  pnpm build

            - run: pnpm test
              working-directory: ./packages/repositories

            - run: npm publish
              working-directory: ./packages/repositories
